<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      About this app...
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="about">
  <img src="../../assets/Snapside.svg" alt="" class="about-logo"/>
  <h1>Snapside Mobile Application</h1>
  <h2>Ionic 4 - Spring Boot 2.2.1 - MySQL 6.3</h2>
  <p>This app is designed for ads and offers publication and management.</p>
  <h2>Authors: Andrea Chezzi - Ludovico Larini</h2>
  <h2>Unisalento 2019-2020</h2>
</ion-content>