<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      My Home
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-item lines="none">
            <ion-searchbar showCancelButton="focus">
      
      </ion-searchbar>
 
      <ion-button *ngIf="isAndroid()" fill="solid" class="round-solid"  shape="round" size="default" color="primary" (click)="getPermission();startListening()" ><ion-icon  slot="icon-only"  name="mic"></ion-icon></ion-button>
      <ion-button *ngIf="!isAndroid() && isBrowser && !started" class="round" shape="round" size="default" fill="outline" (click)="listen()"><ion-ripple-effect></ion-ripple-effect><ion-icon *ngIf="!started"  slot="icon-only"  name="mic"></ion-icon></ion-button>
      <ion-button *ngIf="!isAndroid() && isBrowser && started" class="round-text" color="danger" shape="round" size="default" fill="outline" (click)="stop()"><ion-ripple-effect></ion-ripple-effect><ion-icon *ngIf="!started"  slot="icon-only"  name="mic"></ion-icon>listening...</ion-button>
      <!-- {{message}} -->
    </ion-item>
    <ion-card no-padding>
      <ion-card-content>
      <ion-card-content *ngIf="(query!=='' || selectedCat!=='All') && !isaRecentSearch" no-padding>
        {{this.ads?.length}} filtered search results
      </ion-card-content>      
      <ion-card-content no-padding>
        {{this.fullAds?.length}} total elements available
      </ion-card-content>
    </ion-card-content>
    </ion-card>
    
    

  </ion-toolbar>
</ion-header>


<!-- <ion-content padding>
  <button ion-button full (click)="getPermission()">Get Permission</button>
  <button ion-button full (click)="startListening()">Start Listening</button>
  <button ion-button full (click)="stopListening()" *ngIf="isIos()">Stop Listening</button>
  <ion-card>
    <ion-card-header>This is what I understood...</ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let match of matches">
          {{ match }}
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content> -->


<ion-content>
  <ion-progress-bar *ngIf="!loaded" type="indeterminate"></ion-progress-bar>
  <ion-refresher slot="fixed" id="refresher1">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card *ngIf="loaded && ads.length===0 && query==='' && selectedCat==='All' ">
    <ion-card-title class="ion-padding" color="dark">
      No ads available now :(
     </ion-card-title> 
  </ion-card>

  <ion-card *ngIf="isaRecentSearch && recentAds.length>0">
    <ion-card-title class="ion-padding" color="dark">
      These are the new ads published in the last {{recentDays}} days.
     </ion-card-title> 
  </ion-card>

 <ion-card *ngIf="isaRecentSearch && !(recentAds.length>0)">
    <ion-card-title class="ion-padding" color="dark">
      No new ads published in the last {{recentDays}} days.
     </ion-card-title> 
  </ion-card>

  <ion-segment (ionChange)="filterByItem($event)" *ngIf="selectedCat!='All'" scrollable>
    <ion-segment-button checked value="All">
      <!-- <ion-icon name="star" checked></ion-icon> -->
      <ion-label>All items</ion-label>
    </ion-segment-button>
    <ng-container *ngFor="let item of items"  >
      <ng-container *ngIf="item.category_idcategory==selectedCat">
       <ion-segment-button [value]="item.idItem" >
        <ion-label>{{item.name}}</ion-label>
       </ion-segment-button>
        
      </ng-container>
    </ng-container>
     
      
    
    

  </ion-segment>

  <ion-list id="recentAdsList" *ngIf="isaRecentSearch">
    <ion-item *ngFor="let ad of recentAds" class="ion-activatable"  [routerLink]="['view-ad']" [queryParams]="{idAd:ad.idAd}" routerLinkActive="router-link-active">
      <ion-ripple-effect></ion-ripple-effect>
      <ion-thumbnail slot="start">
        <img [src]="ad?.files">
      </ion-thumbnail>
      <ion-label>
        <h3>{{ad?.title}}</h3>
        <p>{{ad?.description | slice:0:200}}</p>
        <p>{{ad?.address}}</p>
        <p>EUR {{prettyPrice(ad?.sellPrice)}}</p>
      </ion-label>
    </ion-item>
  
    
  </ion-list>



  <!-- <ion-thumbnail item-left>
    <img src="../../../assets/shapes.svg" alt="your image">
</ion-thumbnail> -->
<ion-list id="adsList">
  <ion-item *ngFor="let ad of ads" class="ion-activatable"  [routerLink]="['view-ad']" [queryParams]="{idAd:ad.idAd}" routerLinkActive="router-link-active">
    <ion-ripple-effect></ion-ripple-effect>
    <ion-thumbnail slot="start">
      <img [src]="ad?.files">
    </ion-thumbnail>
    
    <ion-label>
      <ion-text >
        <p style="font-size: large;">{{ad?.title}}</p>
      </ion-text>
      <hr style="margin: .3rem;">
      <p>{{ad?.description | slice:0:200}}</p>
      
      <p>{{ad?.address}}</p>
      <hr style="margin: .3rem;">
      <p>EUR {{prettyPrice(ad?.sellPrice)}}</p>
    </ion-label>
  </ion-item>


  <!-- <ion-item class="ion-activatable">
    <ion-ripple-effect></ion-ripple-effect>
    <ion-thumbnail slot="start">
      <img src="assets/shapes.svg">
    </ion-thumbnail>
    <ion-label>
      <h3>Lorem ipsum</h3>
      <p>dolor sit amet</p>
      <p>consectetur adipiscing elit. Duis ut urna neque.</p>
    </ion-label>
  </ion-item> -->
  
</ion-list>
</ion-content>
